version: '3.8'

services:
    php_fpm:
        container_name: laravel_php
        volumes:
            - .:/var/www
        environment:
            - XDEBUG_HOST=192.168.1.1
            - XDEBUG_PORT=9000
            - PHP_IDE_CONFIG=serverName=127.0.0.1

    nginx:
        ports:
            - "80:80"
        volumes:
            - .:/var/www

    postgres:
        ports:
            - "5432:5432"
        environment:
            - POSTGRES_USER=beststocks
            - POSTGRES_PASSWORD=beststocks
            - POSTGRES_DB=beststocks
        volumes:
            - pgsql:/var/lib/postgresql/data

volumes:
    pgsql:
        driver: local
